body{
    background-color: rgb(240, 255, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .mytext1{
color:rgb(81, 26, 233);
font-size: 2em;
text-align: center;
 }

.latDepBox{
    width: 100%;}


.coordinateBox{
    width: 100%;}

.correctedLatDepBox{
    width: 100%;}
                


